<div class="about">
    <div class="wrapper">
        <form action="/submit-test" method="post" class="form-container">
            <input type="hidden" name="author" value="<%= author %>">
            <% for (let i = 0; i < numQuestions; i++) { %>
                <div class="question">
                    <label for="question-<%= i %>">Question <%= i + 1 %>:</label>
                    <input type="text" id="question-<%= i %>" name="questions[<%= i %>][question]" required>

                    <label for="answers-<%= i %>">Answers:</label>
                    <input type="text" id="answers-<%= i %>" name="questions[<%= i %>][answers][]" required>
                    <input type="text" name="questions[<%= i %>][answers][]" required>
                    <input type="text" name="questions[<%= i %>][answers][]" required>
                    <input type="text" name="questions[<%= i %>][answers][]" required>

                    <label for="correct-<%= i %>">Correct Answer:</label>
                    <input type="number" id="correct-<%= i %>" name="questions[<%= i %>][correct]" min="1" max="4" required>
                </div>
                <hr>
            <% } %>
            <button type="submit">Submit Test</button>
        </form>
    </div>
</div>
