<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="main">
    <%- include('./authPartials/header.ejs') %>
    <div class="about">
        <div class="wrapper">
    <form action="/create-test-step1" method="post">
        <label for="numQuestions">Number of Questions:</label>
        <input type="number" id="numQuestions" name="numQuestions" min="1" required>
        <button type="submit">Next</button>
    </form>
</div>
    <% if (numQuestions > 0) { %>
    <form action="/submit-test" method="post" class="form-container">
        <div class="wrap">
            <% for(let i = 0; i < numQuestions; i++) { %>
                <div class="tests-wrapper">
                    <h2 class="question">Question <%= i + 1 %></h2>
                    <label for="question<%= i %>">Question:</label>
                    <input type="text" id="question<%= i %>" name="questions[<%= i %>][text]" required>
                    <label for="answer<%= i %>">Answer:</label>
                    <input type="text" id="answer<%= i %>" name="questions[<%= i %>][answer]" required>
                </div>
            <% } %>
        </div>
        <button type="submit">Submit Test</button>
    </form>
    <% } %>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>
